<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
<!--基于注解的Bean管理和IOC-->
    <context:component-scan base-package="com.laowang"/>
    <!--基于注解的Aop-->
    <aop:aspectj-autoproxy/>

<!--

    &lt;!&ndash;
        ·id: 容器内唯一
        ·class：被管理bean的完全限定名
        ·放入Spring容器的Bean，默认都是单例的 scope="singleton"
        ·scope="prototype" 每次获取的都是不同的对象实例
        ·Bean的对象默认会在Spring容器启动时创建。
            如果Bean的Scope值为prototype，那对象会在调用时创建;
            如果Bean的Scope为singleton时，将lazy-init的属性设置true，那么对象也会在
        调用时创建
    &ndash;&gt;
    <bean id="UserDaoImpl" class="com.laowang.dao.impl.UserDaoImpl"/>

    <bean id="userService" class="com.laowang.service.impl.UserServiceImpl">
        <property name="userDao" ref="UserDaoImpl"/>
    </bean>
&lt;!&ndash;通知类&ndash;&gt;
    <bean id="myAspect" class="com.laowang.aop.MyAspect"/>
    <aop:config>
        &lt;!&ndash;ref:引用通知类&ndash;&gt;
        <aop:aspect ref="myAspect">
            &lt;!&ndash;切入点表达式&ndash;&gt;
            <aop:pointcut id="pt" expression="execution(* com.laowang.service..*.*(..))"/>
            &lt;!&ndash;环绕通知&ndash;&gt;
            <aop:around method="aroundAdvice" pointcut-ref="pt"/>
           &lt;!&ndash; &lt;!&ndash;前置通知&ndash;&gt;
            <aop:before method="before" pointcut-ref="pt"/>
            &lt;!&ndash;后置通知&ndash;&gt;
            <aop:after-returning method="after" pointcut-ref="pt" returning="result"/>
            &lt;!&ndash;异常通知&ndash;&gt;
            <aop:after-throwing method="exceptionAdvice" pointcut-ref="pt" throwing="ex"/>
            &lt;!&ndash;最终通知&ndash;&gt;
            <aop:after method="finallyAdvice" pointcut-ref="pt"/>&ndash;&gt;
        </aop:aspect>
        
    </aop:config>

-->


</beans>
